@charset "UTF-8";
*{
    font-family: "Ubuntu", sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}
html{
    font-size: 100%;
}
body{
    background-color: #7488A8;
}
main{
    display: block;
    background-color: #acb7ca;
    padding: 40px;
    margin: auto;
    max-width: 800px;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.377);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
header h1{
    text-align: center;
    background-color: #e0c794;
    color: white;
    margin: -10px;

}
header p{
    padding-top: 50px;
    text-indent: 15px;
    line-height: 1.5em;
}
header{
    background: white;
    margin: auto;
    text-align: justify;
    width: 70%;
    padding: 10px;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.377);
    max-width: 500px;
    transition-duration: 1s;
}
.toggle-btn-skills, .toggle-btn-sobre{
    font-size: 200%;
    cursor: pointer;
    transition: .1s linear;

}
.toggle-sobre.on{
    display: block;
    background-color: #7488a865;
    margin: 20px 0px;
    padding: 40px;
    max-width: 700px;
    min-width: 100px;
    transition: .9s linear;
}
.toggle-sobre.on > header{
    display: block;
    transition: .4s linear;
}
.toggle-sobre.on .sobre-section{
    display: none;
    
}
.toggle-sobre{
    transition: .3s linear;
}
.toggle-sobre > header{
    display: none;
}
.sobre-section, .section-skills{
    font-size: 150%;
    font-weight: bolder;
}
.toggle-sobre.on .customize-sobre{
    width: 70px;
    margin-bottom: 20px;
}
.customize-sobre, .customize-skills{
    display: flex;
    width: 200px;
    text-align: center;
    border: 4px solid #7488A8;
    margin-top: 20px;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.customize-sobre:hover, .customize-skills:hover{
    background-color: #ADA38E;
    color: #f1f1f1;
    transition: .4s linear;
    border-radius: 50px;
    
}
.toggle-skills.on{
    display: block;
    background-color: #7488a865;
    padding: 55px;
    margin-top: 20px;
    max-width: 700px;
    min-width: 150px;
    transition: .6s linear;
}
.toggle-skills.on > .skills{
    display: block;
    transition: .4s linear;
}
.toggle-skills.on .section-skills{
    display: none;
}
.toggle-skills{
    transition: .3s linear;
}
.toggle-skills .skills{
    display: none;
}
.toggle-skills.on .customize-skills{
    width: 70px;
}
.menu{
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: black;
    max-width: 800px;
    min-width: 630px;
}
.lista-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    
    
}
.barra-menu {
    background-color: #EDEDED;
    height: 50px;
    max-width: 880px;
    min-width: 630px;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: center;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.377);
}

.menu:hover{
    background-color: #c4b89f;

    color: rgb(228, 226, 226);

    border-radius: 5px;
    transition: border-radius 0.5s;
    transition: 1.1s;
}
.skills{
    background: #ADA38E;
    width: 75%;
    padding: 40px;
    margin: 60px auto;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.377);
    max-width: 500px;
    transition-duration: 1s;
}
.skills h1{
    color: white;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}
.skills li{
    color: white;
    margin: 20px 0;
}
.barra{
    background: #7488A8;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #D5E1F5;
}
.barra span{
    height: 2px;
    float: left;
    background: #F7FAFF;
}
.HTML5{
    width: 90%;
    animation: HTML5 2s;
}
.CSS{
    width: 50%;
    animation: CSS 2s;
}
.C{
    width: 35%;
    animation: C 2s;
}
.PYTHON{
    width: 20%;
    animation: PYTHON 2s;
}
.JS{
    width: 10%;
    animation: JS 1s;
}

.redes{
    background-color: white;
    margin: 30px;
    padding: 30px;
    transition-duration: 1s;
}
.redes h1{
    background-color: #e0c794;
    color: white;
    text-align: center;
    margin: -30px;
    font-size: 2rem;
}
.redes ul{
    margin-top: 60px;
    text-indent: 15px;
    line-height: 1.5em;
    font-weight: bolder;
}
i{
    text-align: center;

    
}
.certificados{
    display: none;
    background-color: white;
    margin: 30px;
}
.certificados h1{
    text-align: center;
    background-color: #e0c794;
    color: white;
}
.certificados p{
    margin-top: 60px;
    text-indent: 15px;
    line-height: 1.5em;
    font-weight: bolder;
}
@keyframes HTML5{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes CSS{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes C{
    0%{
        width: 0%;
    }
    100%{
        width: 35%;
    }
}
@keyframes PYTHON{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}
@keyframes JS{
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
}
@media (min-width: 2000px){
    .sobre{
        font-size: 200%;
        min-width: 1500px;
    }
    .redes{
        font-size: 200%;
        min-width: 1500px;
    }
    main{
        min-width: 2000px;
    }
    .barra-menu{
        min-width: 2080px;
    }
    .menu{
        font-size: 300%;
    }
    .skills{
        width: 200%;
        min-width: 1500px;
    }
    .skills li{
        font-size: 200%;
    }
}
@media (max-width: 737px){
    nav{
        display: none;
    }
    .barra-menu{
        max-width: 0;
        min-width: 0;
    }
    .customize-skills, .customize-sobre{
        margin-top: 40px;
    }
    .section-skills, .sobre-section{
        font-size: 150%;
    }
    .one,
    .two,
    .three{
        background-color: #2c6db8;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        max-width: 630px;
        cursor: pointer;

        transition-duration: 0.4s;
    }
    .menu-toggle{
        width: 40px;
        height: 30px;
        margin-left: 20px;
        padding: 10px;
        position: absolute;

    }
    .menu-section.on{
        text-align: center;

        position: absolute;
        top: 0;
        left: -20%;

        font-size: 150%;
        width: 120vw;
        height: 150vw;

        background: #D5E1F5;
        z-index: 10;

        transition: .7s linear;
    }
    .menu-section{
        top: -1000px;
    }
    .menu-section.on nav{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
        box-shadow: none;
        position: relative;
        text-decoration: underline;
        top: 50%;
        transition: .4s linear;
    }
    .menu-section.on .menu-toggle{
        position: absolute;
        left: 16%;
        top: 0;
    }
    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }
     .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }
    .menu-section.on nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .4s linear;

        
    }
}
@media (max-width: 620px){
    .sobre{
        font-size: 70%;
    }
    .redes{
        font-size: 70%;
    }
}
@media (max-width: 560px){
    footer a{
        font-size: 70%;
    }
@media (max-width: 400px){
    .menu-section.on a{
        font-size: 100%;
    }
    .menu-section.on nav{
        top: 40%;
    }
}